<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer tribute</title>
</head>

<body>
    <h1>Soccer Tribute Page</h1>
    <p>Este juego en su forma presente floreció en Inglaterra a mediados del siglo XIX. Pero las adaptaciones
        alternativas del juego estuvieron mucho antes y son fragmento de la historia del fútbol. Los primeros patrones
        conocidos de un juego de conjunto con una bola, creada de una roca, sucedieron en las arcaicas culturas
        mesoamericanas hace mas de 3000 años atrás. Según los principios, la pelota personificaría el sol y el capitán
        del equipo fracasado sería inmolado a los dioses..</p>
    <p>El primer juego de pelota acreditado que también contenía patear tuvo lugar en China en los siglos III y II a.C
        bajo el nombre de Cuju. Este se jugó con una bola redonda en un plano de un cuadrado. Luego se amplificó a Japón
        y se practicó bajo ceremonias. Se conocía otra diversidad anterior de recreaciones de pelota de la antigua
        Grecia. La pelota estaba formada con pedazos de cuero repletos de pelo. Los primeros escritos de pelotas
        rellenas de aire son del siglo VII.</p>
    <a href="https://conocelahistoria.com/historia-del-futbol/">Go to soccer history</a>

    <h2>Messi</h2>
    <p>Lionel Messi, in full Lionel Andrés Messi, also called Leo Messi, born June 24, 1987, Rosario, Argentina, Argentine-born football soccer player who was named Fédération Internationale de Football Association world player of the year five times, 2009–12 and 2015.</p>
    <a href="https://www.britannica.com/biography/Lionel-Messi">Go to Messi history</a>
    
    <h2>Cristiano Ronaldo</h2>
    <p> in full Cristiano Ronaldo dos Santos Aveiro, born February 5, 1985, Funchal, Madeira, Portugal, Portuguese football soccer forward who was one of the greatest players of his generation.</p>
    <a href="https://www.britannica.com/biography/Cristiano-Ronaldo">Go to Ronaldo history</a> 
     



</body>

</html>